In [189]:
import pandas as pd
from src.process_data import preprocess_data

## Consumo energético

### Residencial

In [190]:
path2_consumo_residencial = 'data/energy/Consumo_residencial_por_UF.csv'
df_consumo_residencial = pd.read_csv(path2_consumo_residencial)
df_consumo_residencial.head(1)

,UF,jan. 2004,fev. 2004,mar. 2004,abr. 2004,mai. 2004,jun. 2004,jul. 2004,ago. 2004,set. 2004,...,abr. 2022,mai. 2022,jun. 2022,jul. 2022,ago. 2022,set. 2022,out. 2022,nov. 2022,dez. 2022,jan. 2023
0,Rondônia,44.271,41.823,40.309,41.622,42.820,39.616,40.586,39.354,42.564,...,120.202,134.796,122.478,129.447,134.127,138.707,141.432,129.687,143.042,124.333

In [191]:
df_r = pd.DataFrame(
    columns=['Timestamp', 'Estado', 'Consumo Residencial']
    )
df_r
for idx, row in df_consumo_residencial.iterrows():
    timestamp = []
    estado = []
    consumo_residencial = []
    for key in row.keys():
        timestamp.append(key)
        estado.append(row['UF'])
        consumo_residencial.append(row[key])
    data = {
        'Timestamp': timestamp,
        'Estado': estado,
        'Consumo Residencial': consumo_residencial
    }
    df_r = pd.concat([df_r, pd.DataFrame.from_dict(data)])
df_r = df_r[1:]
df_r

     Timestamp            Estado Consumo Residencial
1    jan. 2004          Rondônia              44.271
2    fev. 2004          Rondônia              41.823
3    mar. 2004          Rondônia              40.309
4    abr. 2004          Rondônia              41.622
5    mai. 2004          Rondônia              42.820
..         ...               ...                 ...
225  set. 2022  Distrito Federal             217.174
226  out. 2022  Distrito Federal             215.351
227  nov. 2022  Distrito Federal             212.759
228  dez. 2022  Distrito Federal             212.519
229  jan. 2023  Distrito Federal             196.415

[6209 rows x 3 columns]

### Industrial

In [192]:
path2_consumo_industrial = 'data/energy/Consumo_industrial_por_UF.csv'
df_consumo_industrial = pd.read_csv(path2_consumo_industrial)
df_consumo_industrial.head(1)

,UF,jan. 2004,fev. 2004,mar. 2004,abr. 2004,mai. 2004,jun. 2004,jul. 2004,ago. 2004,set. 2004,...,abr. 2022,mai. 2022,jun. 2022,jul. 2022,ago. 2022,set. 2022,out. 2022,nov. 2022,dez. 2022,jan. 2023
0,Rondônia,17.012,15.490,18.641,16.961,17.462,18.505,18.387,19.468,20.556,...,37.868,38.480,39.830,41.826,43.959,42.392,43.458,40.600,42.282,41.400

In [193]:
df_i = pd.DataFrame(
    columns=['Timestamp', 'Estado', 'Consumo Industrial']
    )
df_i
for idx, row in df_consumo_industrial.iterrows():
    timestamp = []
    estado = []
    consumo_industrial = []
    for key in row.keys():
        timestamp.append(key)
        estado.append(row['UF'])
        consumo_industrial.append(row[key])
    data = {
        'Timestamp': timestamp,
        'Estado': estado,
        'Consumo Industrial': consumo_industrial
    }
    df_i = pd.concat([df_i, pd.DataFrame.from_dict(data)])
df_i = df_i[1:]
df_i

     Timestamp            Estado Consumo Industrial
1    jan. 2004          Rondônia             17.012
2    fev. 2004          Rondônia             15.490
3    mar. 2004          Rondônia             18.641
4    abr. 2004          Rondônia             16.961
5    mai. 2004          Rondônia             17.462
..         ...               ...                ...
225  set. 2022  Distrito Federal             53.425
226  out. 2022  Distrito Federal             56.137
227  nov. 2022  Distrito Federal             49.636
228  dez. 2022  Distrito Federal             49.845
229  jan. 2023  Distrito Federal             44.339

[6209 rows x 3 columns]

## Social

### População

In [194]:
# dados de população: https://basedosdados.org/dataset/d30222ad-7a5c-4778-a1ec-f0785371d1ca?table=b99f0017-e587-477e-8cfb-05fb5d1005b8
# consumo direto na tabela do IBGE pelo BigQuery do GCP

In [195]:
df_populacao = pd.read_csv('data/social/populacao.csv')
df_populacao.rename(columns={'sigla_uf': 'Estado', 'populacao': 'Populacao'}, inplace=True)

In [196]:
state_names = {
    'AC': 'Acre',
    'AL': 'Alagoas',
    'AP': 'Amapá',
    'AM': 'Amazonas',
    'BA': 'Bahia',
    'CE': 'Ceará',
    'DF': 'Distrito Federal',
    'ES': 'Espírito Santo',
    'GO': 'Goiás',
    'MA': 'Maranhão',
    'MT': 'Mato Grosso',
    'MS': 'Mato Grosso do Sul',
    'MG': 'Minas Gerais',
    'PA': 'Pará',
    'PB': 'Paraíba',
    'PR': 'Paraná',
    'PE': 'Pernambuco',
    'PI': 'Piauí',
    'RJ': 'Rio de Janeiro',
    'RN': 'Rio Grande do Norte',
    'RS': 'Rio Grande do Sul',
    'RO': 'Rondônia',
    'RR': 'Roraima',
    'SC': 'Santa Catarina',
    'SP': 'São Paulo',
    'SE': 'Sergipe',
    'TO': 'Tocantins'
}
df_populacao['Estado'] = df_populacao['Estado'].map(state_names)
df_populacao.head(1)

  Estado   ano  Populacao
0   Acre  2004     630328

In [197]:
month = []
for mes in  df_consumo_residencial.columns.tolist()[1:]:
    month.append(mes.split(' ')[0])
months = month[:12]
# Create an empty list to store expanded rows
expanded_rows = []

# Iterate over each row in the original DataFrame
for _, row in df_populacao.iterrows():
    year = row['ano']
    population = row['Populacao']
    
    # Iterate over each month and create a new row
    for month in months:
        expanded_rows.append({'Estado': row['Estado'], 'ano': year, 'Populacao': population, 'Month': month})

# Create a new DataFrame with the expanded rows
df_populacao = pd.DataFrame(expanded_rows)

# Reset the index of the new DataFrame
df_populacao = df_populacao.reset_index(drop=True)

In [198]:
df_populacao['Timestamp'] = df_populacao['Month']+' '+df_populacao['ano'].astype(str)
df_populacao.drop(columns=['ano', 'Month'], inplace=True)
df_populacao

         Estado  Populacao  Timestamp
0          Acre     630328  jan. 2004
1          Acre     630328  fev. 2004
2          Acre     630328  mar. 2004
3          Acre     630328  abr. 2004
4          Acre     630328  mai. 2004
...         ...        ...        ...
5827  Tocantins    1607363  ago. 2021
5828  Tocantins    1607363  set. 2021
5829  Tocantins    1607363  out. 2021
5830  Tocantins    1607363  nov. 2021
5831  Tocantins    1607363  dez. 2021

[5832 rows x 3 columns]

## Final

In [199]:
df = pd.DataFrame(
    columns=['Timestamp', 'Estado', 
             'Consumo Residencial', 'Consumo Industrial', 
             'População', 'Pib', 'IDEB']
    )
df

Empty DataFrame
Columns: [Timestamp, Estado, Consumo Residencial, Consumo Industrial, População, Pib, IDEB]
Index: []

In [200]:
df = df_r
df['Consumo Industrial'] = df_i['Consumo Industrial']

In [201]:
df['Populacao'] = df_populacao['Populacao']

In [202]:
df

,Timestamp,Estado,Consumo Residencial,Consumo Industrial,Populacao
1,jan. 2004,Rondônia,44.271,17.012,630328
2,fev. 2004,Rondônia,41.823,15.490,630328
3,mar. 2004,Rondônia,40.309,18.641,630328
4,abr. 2004,Rondônia,41.622,16.961,630328
5,mai. 2004,Rondônia,42.820,17.462,630328
...,...,...,...,...,...
225,set. 2022,Distrito Federal,217.174,53.425,15203750
226,out. 2022,Distrito Federal,215.351,56.137,15203750
227,nov. 2022,Distrito Federal,212.759,49.636,15203750
228,dez. 2022,Distrito Federal,212.519,49.845,2962107
229,jan. 2023,Distrito Federal,196.415,44.339,2962107

In [203]:
df.to_csv('./data.csv')